page-home {

  .logo__imagem{
    background:  #4d7498; 
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  .icone-microfone {
  animation: blinker 1s linear infinite;
}

  @keyframes blinker {
    50% { opacity: 0; }
  }

 
  .color{
    color: #1c496a;
  }

  .scroll-content{
        padding: 0px;
  }



}
