<ion-content *ngIf="!abrirGif" style="background-color: #252525;" >
  <img  (click)="iniciar()" style="height:10%; " src="assets/img/reset.jpg"/>

<div style="height:15%">
  <img  style="height:130%; margin-top: 6%; position: relative;margin-left: 50%;transform: translateX(-50%);" center src="assets/img/inicio1.jpg"/>
</div>

<div style="height:20%;">
  <img class="swing" (click)="startListening()"  style="height:20%; margin-top: 24%; position: absolute;margin-left: 50%;transform: translateX(-50%);" center src="assets/img/botao.jpg"/>
</div>



<div style="margin-top: 32%;height:0%;width:130%" >
    <img   center src="assets/img/inicio2.jpg"/>

</div>


</ion-content>

<ion-content *ngIf="abrirGif" style="background-color: black;">
  <div >
    <img  src="assets/img/giphy.gif" style="margin-top: 33%; position: relative;margin-left: 50%;transform: translateX(-50%);"/>
  </div>
</ion-content>

