page-home {

  .logo__imagem{
    background:  #4d7498; 
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  .icone-microfone {
  animation: blinker 1s linear infinite;
}

  @keyframes blinker {
    50% { opacity: 0; }
  }

 
  .color{
    color: #1c496a;
  }

  .scroll-content{
        padding: 0px;
  }

  .teste.transition{
     x: 200 };


     .grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

  .swing:hover
  {
          -webkit-animation: swing 1s ease;
          animation: swing 1s ease;
          -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  }
}

